.form-wrapper{
    width:30%;
    margin:auto;
}
.populate-form{
    width:80%;
}
h4.form-group-label{
    font-weight:bold;
}
span.error{
    color:red;
}
.old-members-list{
    list-style-type:none;
}
.search-status{
    color:red;
}
.pregled{
    float:right;
}
.btn{
    border-radius:100px;
}
select{
    border-radius:100px!important;
}
input{
    border-radius:100px!important;

}
.container-fluid{
    height:2000px;
}
#top{
    margin-top:7%;
    color:black;
    float:right;
}
.statistics{
    margin-top:15%;
}
.all-members{
    margin-top:15%;

}
